*:focus{outline:none}
.modal{
    background-color: rgba(0, 0, 0, 0.7);
}
.modal .modal-dialog{
    border-radius:20px;
    overflow: hidden;
}
.flagShow{
    min-width: 170px;
}
.avatar{
    max-width: 30px;
}

.has-danger .form-control, .has-danger .form-agree {
    border-color: #d9534f;
    border: 1px solid #d9534f !important;
}
#Jw-nav {
    padding: 20px 30px;
    background-color: #222328;
    min-height: 51px;
}

#Jw-nav.new {
    background: none;
}

.prev-job.swiper-btn {
    margin-right: 40px;
    right: unset;
    left: -8px;
}
.header-avatar {
    vertical-align: middle;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.candi-profile .form-group label {
    font-weight: 600;
}
.candi-profile .form-group .form-control {
    font-weight: 300;
}
.modal .btn-save{background: #ffd131;width: 100%;margin: auto;border-radius: 1.5rem;font-weight: bold}