.modal{
    background-color: rgba(0, 0, 0, 0.7);
}
.modal .modal-dialog{
    border-radius:20px;
    overflow: hidden;
}
.flagShow{
    min-width: 170px;
}
.avatar{
    max-width: 30px;
}
.list-rs .item .img{ 
    max-height: 140px;
}
.swiper-slide{
    width: 30%;
    margin-right: 40px;
}
