

.page-name{background: #fff;}
.page-name h3{font-size: 22px;}

.btn-eb501e, .btn-view-more{background: #ffd131;color: #18181a;padding: 4px 7px;cursor: pointer;font-weight: 600;border-radius: 1rem;    box-shadow: 0 0 10px lightgrey;}
.btn-eb501e:focus{outline: 0;color: #18181a; box-shadow: 0 0 5px lightgrey;}
.btn-eb501e:hover{color: #18181a;}

.btn-view-more{background: #ffd131;padding:8px 1rem; border-radius: 2rem;}
.btn-view-more:hover{color: #18181a;}

.filter-top{margin-top: -1rem;margin-bottom: 2rem;}

.list-rs .list {border-radius: 15px;}
.list-rs .bread-crumb{display: flex;color:#616161;font-size: 15px;}
.list-rs .bread-crumb .clear-filter{color:#eb501e;font-weight: 600;border-bottom: 1px solid #f58763;}
.list-rs .item {display: inline-flex;padding: 10px 15px ; }
.list-rs .item .img{margin-right: 1rem;width: 40%;overflow: hidden;border-radius: 1rem;max-height: 200px; position: relative;}
.list-rs .item .img .salary{position: absolute;left: 10px;top: 10px;background: #ffd131;padding: 3px 6px;border-radius: 10px;font-weight: 600;font-size: 14px;}
.list-rs .item .img img{width: 100%; height: 100%; object-fit: cover;}
.list-rs .item {font-size: 16px;background: #fff;border-radius: 1rem;border: 1px solid rgb(235, 235, 235);
    margin-bottom: 1.2rem;transition: .3s;width: 100%;}
.list-rs .item:hover{box-shadow: rgba(0, 0, 0, 0.07) 0 0 12px;transition: .3s;}
.list-rs .item .content{width: 60%;padding: 15px 0;}
.list-rs .item .content .title{width: 90%;position: relative;}
.list-rs .item .content .title h4{font-size: 18px;font-weight: 600;color:#3c3c3c;margin-bottom: 5px;line-height: 1.5;}
.list-rs .item  i{font-size: 14px;}
.list-rs .item .ct-bottom {
    border-radius: 3px;
    color: #757575;
    font-size: 14px;text-align: left;display: flex;
}
.list-rs .item .ct-bottom i{margin-right: 0.5rem;color: orangered;font-size: 16px;}
.list-rs .item .content .title i{position: absolute;top:0;right: -10%;color:#c3c3c3;cursor: pointer;}
.list-rs .item .content  .status{background: green;color: #fff;padding:1px 5px;border-radius: 3px;white-space: nowrap;height: 1.3rem;}
.list-rs .item .content  .status.dis{background: lightgrey;}
.list-rs .item .content .title i.bookmark{color: #f38c2a;font-weight: 900;}
.list-rs .item .content .detail ul{display: flex;margin-bottom: 1rem;}
.list-rs .item .content .detail i{color: #757575;margin-right: 5px;width: 25px;text-align: center;}
.list-rs .item .content .detail .salary , .list-rs .item .content .detail .salary i{color: #c13a40;}
.list-rs .item .content .detail li{margin-right:auto; }
.list-rs .item .content .detail .date{margin-left: auto;margin-right: 0;}

.block-filter{background:#fff;padding: 15px 20px;border-radius: 15px;box-shadow: 0 0 10px lightgrey; }
.block-filter {color: #5c5c5c;font-size: 15px;}
.block-filter .heading{display: flex;font-size: 16px;font-weight: 600;margin-bottom: 1rem;}
.block-filter  ul{}
.block-filter  li{display: flex;margin: 10px 0 10px 15px;cursor: pointer;transition: 0.3s;}
.block-filter .list-region li.active{font-weight: 600;margin:10px 0px;      transition: 0.3s;  }
.block-filter .amount{font-weight: 500;margin-left: auto;}
.block-filter label.label-checkbox .checkmark{top:3px;}
.block-filter  label.label-checkbox{padding: 0 0 0 25px;}

.tag-search span{border: 1px solid lightgray;margin-right: 5px;border-radius: 5px;
    padding: 1px 4px;font-size: 13px;white-space: nowrap;display: inline-block;margin-bottom: 5px;}
    .tag-search span i{cursor: pointer;}


.switch {position: relative;display: inline-block;width: 50px;height: 27px;}
.switch input { opacity: 0;width: 0;height: 0;}
.show-map .slider {position: absolute;cursor: pointer;top: 0;left: 0;right: 0;bottom: 0;background-color: #ccc;
-webkit-transition: .4s;transition: .4s;}
.slider:before {position: absolute;content: "";
height: 19px;width: 19px;left: 4px;bottom: 4px;background-color: white;-webkit-transition: .4s;transition: .4s;}

input:checked + .slider {background-color: #ffd131;}
input:focus + .slider {box-shadow: 0 0 1px #ffd131;}
input:checked + .slider:before {-webkit-transform: translateX(22px);-ms-transform: translateX(22px);transform: translateX(22px);}
.slider.round {border-radius: 34px;}

.slider.round:before {border-radius: 50%;}

.filter-new{border-bottom: 1px solid rgb(235, 235, 235);border-top: 1px solid rgb(235, 235, 235);margin: 15px;}

.list-rs{position: relative;}
.list-rs .list-row{width: 50%;padding-right: 15px;}
.list-rs .list-grid{width: 100%!important;padding-right: 0;}
.list-rs .list-grid .list{display: grid;grid-template-columns: 20% 20% 20% 20% 20%;}
.list-rs .list-grid .item{padding-right: 15px;padding-left: 15px;}
.list-rs .list-grid .item {background:none ;border: 0;display: inline-block;}
.list-rs .list-grid .item:hover{box-shadow: 0 0 0 0;}
.list-rs .list-grid .item .img{width: 100%;}
.list-rs .list-grid .item .content{width: 100%;}
.list-rs .list-grid .item .content .detail ul{display: inline-block;}
.list-rs .list-grid .item .img img{border-radius: 3px;}
.list-rs .item .list-grid .content .title .status{bottom: 0;top: unset;margin-bottom: 2rem;}
.list-rs .map{width: 50%;display: block;height: 90vh;position: sticky;position: -webkit-sticky;top: 0vh;}

.filter-new .dropdown-item.active,.filter-new .dropdown-item:hover,.search-list-job .dropdown-item:hover{background: unset;}
.filter-new .btn-light{border-radius: 1.5rem;background: #ddd;}
.filter-new .btn-light.active{background: #ffd131;}
.filter-new .btn-light:focus{background: #ffd131;}

.filter-new .list-job-tag{font-size: 18px;align-self: center;}
.filter-new .list-job-tag .tag{font-weight: 600;}

@media(max-width: 1440px){
    .list-rs .list-grid .item{}
    .list-rs .item .content .title h4{font-size: 16px;line-height: 1.2;}
    .list-rs .item .content .title .status{font-size: 12px;}
    .list-rs .item .content .detail ul{margin-bottom: 10px;}
}

@media(max-width: 1366px){
    .list-rs .list-grid .item{}
    .list-rs .item .content .title h4{font-size: 16px;line-height: 1.2;}
    .list-rs .item .content .title .status{font-size: 12px;}
    .list-rs .item .img{width: 45%}
    .list-rs .item{font-size: 14px;}
    
    .filter-new .btn-light{padding: 5px 10px;}
}
@media(max-width: 1200px){
	.list-rs .list-grid .list{grid-template-columns: 25% 25% 25% 25%;}
}
@media(max-width: 768px){
	.list-rs .item .content .detail ul{display: block;}
	.list-rs .item .img{margin-bottom: 10px;}
}

