@import url("../style/home.css");
@import url("../style/list-job.css");
@import url("../style/detail-job.css");
@import url("../style/sign-in.css");
@import url("../style/sign-up.css");
@import url("../style/sign-in-company.css");
@import url("../style/post-job.css");
@import url("../style/emloyers-page.css");
@import url("../style/sign-up-done.css");
@import url("../style/candi-page.css");



@font-face {
    font-family: 'RoundedMplus1c'; 
    src: url('../Jwork-fonts/RoundedMplus1c-Regular.ttf'); 
    font-weight: 500;
}


body{
  font-family: 'RoundedMplus1c', sans-serif;
  font-weight: 500;
  background-color: #f5f6fa;
 
}

button, input, optgroup, select, textarea {
    font-family: 'RoundedMplus1c';
    font-weight: 500;line-height: 1;
  }
button:focus{outline: none;}
a{ color: inherit;}

a:hover{
	color: inherit;
  text-decoration: none;
}

ul{
	padding: 0;
	list-style-type: none;
	margin: 0;
}

.btn {
  vertical-align: baseline;
}

.heading .title, .view-all{white-space: nowrap;}
.modal-title{font-weight: 600;}

.select2-container--default .select2-selection--multiple {
  background:none;
  border: 0;
  box-shadow: 0 0 10px lightgray;
  border-radius: 1.5rem;;
  cursor: pointer;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
  border:0;
  outline: 0;
}

.select2-container--default.select2-container--open.select2-container--below .select2-selection--single, .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;;
}

.chosen-container-multi .chosen-choices{
  border: 0px;padding: 5px 20px;color: #636c72;
  border-radius:10px;
  box-shadow: 0 0 10px lightgray;
  background: #fff;font-size: 15px;background: url(../imgs-fix/chevron-down-solid.svg) 98% / 1% no-repeat #fff;
  
}

.chosen-container-multi .chosen-choices li.search-choice{
  border: 0;

}

.chosen-container .chosen-drop{
  border-radius: 1.5rem;
  box-shadow: 0 0 10px lightgray;border: 0;margin-top: 1rem;
  padding: 1rem 0.7rem;color: #636c72;
  
}

.chosen-container .chosen-results li.highlighted{background: #ffd131;}
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
  position: absolute;
  top: 3px;
  right: 3px;
  display: block;
  width: 15px;
  height: 14px;
  background: url(../vendor/chosen/chosen-sprite.png) -37px 0px no-repeat;
  font-size: 1px;
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close:hover {
  background-position: -37px -14px;
}
.chosen-container .chosen-results li{font-size: 16px;}
.chosen-container-multi .chosen-choices li.search-field input[type=text]{color:#464a4c }
.red{color: red;}

.jw-select-d{position: relative;}
.jw-select{border-radius: 1rem;box-shadow: 0 0 5px lightgray;padding: 20px 15px;margin-top: 5px;width: 100%;
  visibility: hidden;position: absolute;background: #fff;max-height: 80vh;overflow-y: auto;}
.jw-select .btn-app{background: orange;color: #fff;border-radius: 1.5rem;padding: 5px 15px 7px 15px;}
.jw-select .btn-app:hover{background: #f89d1d;}
.jw-select .btn-danger{border-radius: 1.5rem;padding: 5px 15px 7px 15px;}
.jw-select.show{visibility: visible;z-index: 10;}
.jw-select .select .option{position: relative;}
.jw-select .sub-option{border-radius: 5px;box-shadow: 0 0 5px lightgray;padding: 5px;margin-top: 5px;display: none;
  position: absolute;left: 70%;background: #fff;width: 70%;top: -0.5rem;z-index: 100000;}
  
.jw-select .select .option:hover .sub-option{display: block;}
.jw-select .select .option div:hover, .jw-select .select .option li:hover{background: #ffd131;transition: 0.5s;}
.jw-select .select .option div, .jw-select .select .option li{padding: 0.3rem;cursor: pointer;}


input[name="date"]{background: url(../imgs-fix/calendar-alt-regular.svg) 98% / 1.5% no-repeat #fff;}
.daterangepicker td.active, .daterangepicker td.active:hover{background: #ffd131;}

.color-9c{color: #9c9c9c;}


.avt-nav{width: 30px;height: 30px;vertical-align: middle;
  margin-right: 5px;border-radius: 50%;overflow: hidden;}
.search-list-job .jw-select .select .label-checkbox{width: 50%;float: left;margin-bottom: 3px;;padding: .2em .75rem;padding-left: 25px;}
.search-list-job .jw-select .select select{border-radius: 1.5rem;border:1px solid #EBEBEB;box-shadow: 0 0 0 0;height: 40px;
  padding: 5px 15px;background: url(../imgs-fix/chevron-down-solid.svg) 95% / 1.5% no-repeat #fff;-webkit-appearance: none;}
  .search-list-job .jw-select .select select:focus{box-shadow: 0 0 5px lightgray;}
.search-list-job label.label1{color: rgb(72, 72, 72) !important;;font-weight: 600;font-size:14px;}
.search-list-job i{color: #b5b5b5;}
.salary-op.jw-select{overflow: unset;max-height: unset;}
.search-list-job label.label-checkbox .checkmark{top: 7px;}
.tit-slide{font-size: 18px;font-weight: 600;padding-left: 10px;margin-bottom: 1.5rem;color: rgb(72, 72, 72) !important;}
.tit-slide::after{content: "";width: 20px;height: 5px;background: #ffd131;position: absolute;bottom: -8px;left: 10px; }

.banner-job-type{max-height: 380px;overflow: hidden;border-radius: 5px;}
.banner-job-type::after{position: absolute;width: 100%;height: 100%;background: #00000059;content: "";
  top: 0;left: 0;border-radius: 5px;}

  .search-list-job .jw-select-banner.show{bottom:3rem;left: 102%;opacity: 1;}
  .search-list-job .jw-select-banner{bottom:3rem;left: 50%;text-align: left!important;width: 90%;box-shadow: 0 0 0 0;transition: .8s;opacity: 0;}